
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.header {
  padding: 10px 10px;

  .logo {
    position: relative;
    cursor: pointer;
    width: 220px;

    .system-name {
      font-family: 'Lobster', cursive;
      font-weight: 400;
      font-size: 1.7rem;
      position: absolute;
      top: 12px;
      left: 60px;

      @media only screen and (max-width: 768px) {
        font-size: 1.1rem;
      }
    }
  }

  .button-text {
    font-size: 1.0rem;
    text-transform: capitalize;
    margin-left: 3px;

    @media only screen and (max-width: 768px) {
      display: none;
    }
  }

  .button-icon {
    font-size: 1.6rem !important;

    @media only screen and (max-width: 768px) {
      font-size: 0.7rem;
    }
  }
}

.main-content {
  bottom: 0;
}