
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.header {

  .logo {
    position: relative;
    cursor: pointer;
    width: 220px;

    .system-name {
      font-family: 'Lobster', cursive;
      font-weight: 400;
      font-size: 1.7rem;
      position: absolute;
      top: 12px;
      left: 60px;
    }
  }
}

.content {
  
}