.hotels-list {
  
  .hotel-cards {
    margin-bottom: -40px;
  }

  .reorder-compare-section {
    padding: 0 33px;
  }

  .infinite-scroll-loader {
    margin-top: 45px !important;

    h2 {
      font-family: 'Lobster', cursive;
      font-weight: 400;
      font-size: 1.7rem;
    }
  }
}