.hotel-carrosel {
  display: flex;
  overflow: auto;
  color: white;
}

.hotel-carrosel-section {
  
  .hotel-carrosel-button-left {
   position: absolute;
   left: 5px;
   top: 50%;
   transform: translateY(-50%);
  }
  
  .hotel-carrosel-button-right {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.hotel-carrosel::-webkit-scrollbar {
  display: none;
}

.hotel-carrosel::-webkit-scrollbar-thumb {
  display: none;
}