.hotel-page {
  color: $dark-green;

  .hotel-name {
    font-weight: bold;
    font-size: 2.5rem;
    margin-top: 20px;

    @media screen and (max-width: 959px) {
      font-size: 1.8rem;
    }
  }

  .hotel-address {
    margin-top: -10px;
    margin-bottom: -20px;
    margin-left: 6px;
    font-size: 0.9rem;
    font-weight: 400;

    @media screen and (max-width: 959px) {
      margin-top: -5px;
    }
  }

  .hotel-rating {
    margin-bottom: 20px;
  }

  .hotel-schedule-and-bonus {
    margin-top: 20px;
    padding: 0 12px;
    text-align: center;
  }

  .hotel-booking-btn-section {
    margin-top: 20px;
    padding: 0 12px;

    .hotel-booking-btn {
      position: relative;
      
      .icon {
        position: absolute;
        transform: rotate(90deg);
        scale: 0;
        left: -30px;
        top: 10px;
        transition: 1.0s;
        color: $mint-green;
      }
    }

    .hotel-booking-btn:hover {
      position: relative;

      .icon {
        position: absolute;
        scale: 1.5;
        left: 130px;
        top: 10px;
        transform: rotate(90deg);
        scale: 1.5;
        color: $white;
        transition: 1.0s ease-in-out;
      }
    }
  }
}