// Primary Colors
$sky-blue: #87CEEB;          // Azul Celeste (Sky Blue)
$aqua: #7FDBFF;              // Aqua
$turquoise: #40E0D0;         // Turquesa
$mint-green: #98FF98;        // Verde Menta (Mint Green)

// Secondary Colors
$dark-green: #2E473B;        // Verde Escuro (Dark Green)
$lavender: #E6E6FA;          // Lavanda (Lavender)
$navy-blue: #4682B4;         // Azul Marinho (Navy Blue)
$sandy-beige: #FFF5EE;       // Areia (Sandy Beige)

// Neutral Colors
$white: #FFFFFF;             // Branco (White)
$ivory: #FFFFF0;             // Marfim (Ivory)
$light-gray: #e7e7e7;        // Cinza Claro (Light Gray)
$medium-gray: #B0B0B0;       // Cinza Médio (Medium Gray)
$grayish-blue: #B0E0E6;      // Azul Acinzentado (Grayish Blue)
$grayish-blue-40: #B0E0E666; // Azul Acinzentado 40% (Grayish Blue)
$beige: #F5F5DC;             // Bege Claro (Beige)